.main_div {
  width: "100%";
  transition: all 0.5s ease-in-out;
}
.main_div :hover{
  color: black;
}
.filterCategory_name {
  width: 98%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.span1 {
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 3.2rem;
}
.span2 {
  margin-right: 10px;
  color: gray;
  font-size: 28px;
}

.toshow_Content {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  display: block;
}
.tohide_Content {
  /* border: 1px solid gray; */
  width: 98%;
  height: 25px;
  display: none;
}
.filterCategories {
  width: 95%;
  height: auto;
  display: flex;
  margin: auto;
}
.filterCategories_label {
  width: 300px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
  line-height: 3rem;
  display: flex;
  justify-content: center;
}
.inp{
  height: 20px;
  width: 140px;
}