* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.CheckoutCardProduct-container {
  width: 100%;
  height: auto;
  /* margin: auto; */
  border: 1px solid #cac3c3;
  padding: 26px 30px 26px 30px;
}
.back-cart,
.viewmore-btn {
  width: 100%;
  height: 44px;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding: 1px 6px 1px 6px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.CheckoutCardProduct-products {
  height: auto;
}

.CheckoutCardProduct-products > p {
  width: 100%;
  margin: auto;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.9;
  margin-top: 10px;
}
.CheckoutCardProduct-products-flex {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  gap: 8px;
}
.CheckoutCardProduct-img {
  width: 40%;
}
.CheckoutCardProduct-img > img {
  height: 100%;
  width: 100%;
}

.CheckoutCardProduct-intro-flex {
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.CheckoutCardProduct-intro-flex > div:nth-child(1) {
  width: 55%;
  font-size: 13px;
}
.CheckoutCardProduct-intro-flex > div:nth-child(1) > p {
  margin-top: 5px;
}
.CheckoutCardProduct-intro-flex > div:nth-child(2) {
  width: 100%;
  text-align: end;
  font-size: 12px;
}
.CheckoutCardProduct-intro-flex > div:nth-child(2) > p {
  margin-top: 6px;
}
.viewmore-btn {
  margin-top: 5px;
  border: 1px solid blue;
  color: blue;
}
hr {
  margin-top: 20px;
}
.totalamount > div:nth-child(1),
.totalamount > div:nth-child(2),
.totalamount > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.totalamount > div:nth-child(3) {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
