.cardWrapper{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128,.3);
}

.cardWrapper .leftContainer{
    display: flex;
    width: 100%;
}

.cardWrapper .rightContainer{
    width: 150px;
    padding-top: 10px;
  font-weight: 500;
}
.subLeft{
    display: flex;   
}
.card{
    display: flex;
 
  padding: 10px;
  gap: 10px;
width: 100%;

}
.card .left{
    width: 200px;
}
.card .left img{
    width: 100%;
}
.card p{
    margin: 0;
}
.card .right{
    text-align: start;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right .details{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.right .details>p:first-child{
    font-weight: 500;
}
.right .measures{
    display: flex;
    flex-direction: column;
}
.right .btns{
    display: flex;
   gap: 10px;
   align-items: center;
}
.btns .remove{
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}

.btns .remove:active{
  color: blue;
}


.tobag{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(207, 205, 205);
    outline: none;
    border: 0px;
   transition: .3s;
}
.tobag:active{
    font-size: 10px;
}

.right .btns a{
    color: black;
    text-decoration: underline;
}
.right .btns a:hover{
    color: rgb(59, 59, 206);
    }


    @media all and (max-width: 768px){
        .cardWrapper {
            flex-direction: column;
        }
    
        .cardWrapper  .leftContainer{
           flex-direction: column;
        }
        .right .btns{
        flex-direction: column;
        align-items: flex-start;
        } 
         }