.box{
    text-align: start;
    min-width: 200px;
    font-size: 14px;
    font-weight: 450;
    position: relative;
}
.box:hover{
    cursor: pointer;
}
.box .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
}
.box .heart:hover{
color: black;
}
.box img{
    width: 100%;
}
.box p{
    margin: 0;
    margin-top: 7px;
}
.box .quickShop{
    border: 1px solid rgba(128, 128, 128,.3);
   display: flex;
   align-items: center;
   justify-content: center;
    height: 30px;
    transition: .2s;
    font-size: 12px;
}
.box .quickShop:hover{
    border: 1px solid rgba(128, 128, 128,1); 
    cursor: pointer;
   
}