.top_heading {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: freight-big-pro;
}

.top_heading_span {
  font-size: 5rem;
  line-height: 72px;
  letter-spacing: 0.3px;
  font-weight: 100;
}
.top_heading_span1 {
  font-size: 3.2rem;
  line-height: 72px;
  letter-spacing: 0.3px;
  font-weight: 100;
}


@media only screen and (max-width: 600px) {
    .top_heading_span {
      font-size: 3.5rem;
      line-height: 68px;
      letter-spacing: 0.3px;
      font-weight: 100;
    }
    .top_heading_span1 {
      font-size: 2.2rem;
      line-height: 68px;
      letter-spacing: 0.3px;
      font-weight: 100;
    }
  }