.wrapper{
    border: 1px solid red;
    display: flex;
}
.leftWrapper{
    border: 1px solid red;
    width: 70%;
}
.leftWrapper .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftWrapper .header{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 10px;
}

.leftWrapper .header>div{
    display: flex;
    align-items: center;
}
.leftWrapper .header .item{
    width: 100%;
}
.leftWrapper .header .qty{
width: 150px;
}
.leftWrapper .header .price{
width: 150px;
}

.leftWrapper .content{
    border: 1px solid red;
}


.rightWrapper{
   
    width: 30%;
    border: 1px solid blue;
}